.App {
  text-align: center;
  height: 100%;
}

.cat-wrapper {
  height: 100%;
  width: 100%;
}

.cat-wrapper img {
  max-height: 100vh;
  max-width: 100%;
  height: 100vh;
}

.cat-wrapper video {
  max-height: 100vh;
  max-width: 100%;
  height: 100vh;
}
